<footer role="contentinfo" class="footer py-3 mt-3" style="background-color : #eeeeee">
  <div class="container border border-0 border-top border-2">
    <span class="text-muted">© 2023 Debart Nathan. All rights reserved.</span>
  </div>
</footer>